.course{
    border: 1px solid tomato;
    padding: 20px;
    border-radius: 20px;
    background-color: darkcyan;
    color: white;
    text-align: center;
}
.buy-btn{
    background-color: coral;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}